// color for text
$basic-text-color: #4a4a4a;
$basic-header-color: #222222;              

//background color
$basic-background-color: #fff;

// border color
$basic-border-color: #DDD;


//color Icons
$basic-icon-color: #00c2e7;

//basic color transition
$basic-color-transition: #00c2e7;

//1. font family for header:
$font-family-header:  'Lato', sans-serif;

//2. font family for all text
$font-family-text: 'Open Sans', sans-serif;



// 1. size text for header

